ul {
    list-style-type: none;
    margin: 0;
    padding: 27px 115px;
    overflow: hidden;
    background-color: gray;

}

 li {
    float: right;
 }

 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }

 li a:hover {
    color: green;
 }
