ul {
    list-style-type: none;
    margin: 0;
    padding: 27px 115px;
    overflow: hidden;
    background-color: gray;

}

 li {
    float: right;
 }

 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }

 li a:hover {
    color: green;
 }
  
 .nkar {
   width: 240px;
   height: 250px;
   margin-top: 80px;
}

.himnakan {
   text-align: center;
   background-color:greenyellow ;
}

.start{
   color: white;
   display: block;
   font-size: 80px;
   font-weight: bold ;
}

.finish {
   font-size:40px ;
   color: white;
}