ul {
   
    list-style-type: none;
    margin: 0;
    padding: 27px 115px;
    overflow: hidden;
    background-color: gray;

}

 li {
    float: right;
 }

 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }

 li a:hover {
    color: green;
 }
  
 .nkar {
   width: 240px;
   height: 250px;
   margin-top: 80px;
}

.himnakan {
   text-align: center;
   background-color:greenyellow ;
}

.start{
   color: white;
   display: block;
   font-size: 80px;
   font-weight: bold ;
}

.finish {
   font-size:40px ;
   color: white;
   padding-bottom: 60px;
}

#portfolio {
   color: mediumpurple;
      text-align: center;
      font-size: 60px;
      margin-top: 100px;
      font-weight: bold;
}

  .vecnkar {
    text-align: center;
  }

  .arajin {
   width: 320px;
   height: 250px;
   padding-right: 40px;
   padding-left: 190px;
   padding-bottom: 20px;
  }

  .erkrord {
   width: 320px;
   height: 250px;
   padding-right: 40px;
   padding-bottom: 20px;
  }

  .errord {
   width: 320px;
   height: 250px;
   padding-right: 190px;
   padding-bottom: 20px;
  }

  .chorord {
   padding-left: 190px;
   padding-right: 40px;
   width: 320px;
   height: 250px;
   padding-bottom: 50px;
  }

  .hingerord {
   padding-right: 40px;
   width: 320px;
   height: 250px;
   padding-bottom: 50px;
  }

  .vecerord {
   padding-right: 190px;
   width: 320px;
   height: 250px;
   padding-bottom: 50px;
  }

  .about {
   padding-top: 40px;
     font-size: 60px;
     font-weight: 700;
     text-align: center;
  }

  .textone {
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 40px;
  }

   .button {
       border: 1px solid gray;
       font-size: 16px;
       display: block;
       margin: 8px 4px;
       text-decoration: none;
       text-align: center;
       padding: 20px;
   }